<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Om Mudgal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css"
    />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="bg-black">
    <nav class="px-9 py-5 h-24 flex items-center justify-between bg-black border-b border-black opacity-80 rounded-b-lg sticky top-0 right-0 z-50">
      <div class="text-white text-lg font-semibold">Om Mudgal</div>
      <div class="md:hidden flex flex-col space-y-1 cursor-pointer hamburger-menu">
        <div class="w-6 h-0.5 bg-white"></div>
        <div class="w-6 h-0.5 bg-white"></div>
        <div class="w-6 h-0.5 bg-white"></div>
      </div>
      <div class="hidden md:flex space-x-6 nav-links">
        <a href="#" class="text-lg text-white font-semibold">Home</a>
        <a href="static/docs/CV_OmMudgal.pdf" target="_blank" class="text-lg text-white font-semibold">CV</a>
        <a href="https://github.com/ommudgal" target="_blank" class="text-lg text-white font-semibold">Github</a>
        <a href="#contact" class="text-lg text-white font-semibold">Contact</a>
      </div>
    </nav>

    <div class="fixed top-0 right-0 w-64 h-full bg-black text-white transform translate-x-full transition-transform duration-300 side-window z-10 pt-24">
      <div class="p-5 space-y-6">
        <a href="#" class="block text-lg font-semibold">Home</a>
        <a href="static/docs/CV_OmMudgal.pdf" target="_blank" class="block text-lg font-semibold">CV</a>
        <a href="https://github.com/ommudgal" target="_blank" class="block text-lg font-semibold">Github</a>
        <a href="#contact" class="block text-lg font-semibold">Contact</a>
      </div>
    </div>
  
    <script>
      document.querySelector('.hamburger-menu').addEventListener('click', function() {
        document.querySelector('.side-window').classList.toggle('translate-x-full');
      });
    </script>


    <div class="my-56 px-11 h-72">
      <center>
        <h1 class="text-white text-[48px]">Om Mudgal</h1>
        <h3 class="text-white">Learn. Create. Improve.</h3>
      </center>
    </div>

    <div class="bg-slate-400 px-8 py-9">
      <h1 class="text-red-600 font-serif text-[48px] text-center">About Me</h1>
        
        <div class="bg-slate-200 rounded-lg p-8 coulum-1 gap-x-4">
          <p class="ur">
            Hello, I'm Om Mudgal A passionate designer and programmer with a
            flair for blending creativity and technology. My work focuses on
            creating intuitive designs and efficient code that bring ideas to
            life. From crafting sleek user interfaces to building powerful
            software solutions, I strive to deliver experiences that are both
            beautiful and functional. Take a look at my portfolio to explore my
            projects, and feel free to get in touch if you'd like to
            collaborate!
          </p>
        </div>
        
      </div>
    </div>

    <div class="h-48"></div>
    <div class="bg-slate-400 px-8 pt-8 py-8 gap-x-4">
      <h1 class="text-red-600 font-serif text-center text-3xl">Blender</h1>
      <div class="pt-8">
        <div class="bg-slate-200 rounded-lg p-8">
          <p>
            Blender is an extraordinary tool that enables me to transform my
            imaginative ideas into captivating 3D models and animations,
            showcasing my creativity and technical skills. With this powerful
            software, I bring my artistic vision to life, creating stunning
            visual experiences that captivate and inspire.<br />
          </p>
        </div>
      </div>
      <div>
        <div class="flex gap-x-4 pt-8 pb-8">
          <div>
            <video class="w-full" autoplay loop muted>
              <source src="static/video/room.mp4" type="video/mp4" />
            </video>
          </div>
          <div>
            <video class="w-full" autoplay loop muted>
              <source src="static/video/spyder.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </div>

    <!--QUIZZR-->
    <div class="h-48"></div>
    <div>
      <div class="bg-slate-400 px-8 py-8 gap-x-4">
        <div class="text-red-600 text-center text-3xl">
          <h1>Quizzr</h1>
        </div>
        <div class="pt-10 pb-8 w-auto">
          <h1 class="text-center bg-slate-200 rounded-lg p-8">
            Quizzr is a prototype Quizzing platform that is created using Python
            tkinter for frontend and Mysql server for data-storage
            <br />
            <br />
            Its Base Code is available on
            <u
              ><a href="https://github.com/ommudgal/Quizzr" target="_blank">
                <b>Github</b>
              </a></u
            >
          </h1>
          <div class="pt-8">
            <div
              id="Quizzr_pictures"
              class="relative"
              data-te-carousel-init
              data-te-carousel-slide
            >
              <div
                class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
              >
                <div
                  class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item
                  data-te-carousel-active
                >
                  <img
                    src="static/image/Picture1.jpg"
                    class="block w-full"
                    alt="Start-up screen"
                  />
                </div>

                <div
                  class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item
                >
                  <img
                    src="static/image/Picture2.png"
                    class="block w-full"
                    alt="Login"
                  />
                </div>
                <div
                  class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                  data-te-carousel-item
                >
                  <img
                    src="static/image/Picture3.png"
                    class="block w-full"
                    alt="Register"
                  />
                </div>
              </div>

              <button
                class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#Quizzr_pictures"
                data-te-slide="prev"
              >
                <span class="inline-block h-8 w-8">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 19.5L8.25 12l7.5-7.5"
                    />
                  </svg>
                </span>
                <span
                  class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                  >Previous</span
                >
              </button>

              <button
                class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
                type="button"
                data-te-target="#Quizzr_pictures"
                data-te-slide="next"
              >
                <span class="inline-block h-8 w-8">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 4.5l7.5 7.5-7.5 7.5"
                    />
                  </svg>
                </span>
                <span
                  class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                  >Next</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="text-white bg-black">
      <center>
        <h1 class="pt-8"><b>You can contact me at</b></h1>
        <h1 class="p-8">
          <b><u>contact@ommudgal.com </u></b>
        </h1>
      </center>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
  </body>
</html>
